@media screen and (min-width: 768px) {
    .header {
        height: 30px;
    }
    .header div {
        line-height: 30px;
    }
    .phrases_body {
        top: 40px;
        position:absolute;
    }
    .phrase_all {
        position: relative;
        width: 700px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .html_background {
        top: 20px;
        width: 700px;
        height:350px;
    }
    .character-image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1.5px solid #fff;
        box-shadow: 0px 0px 10px #ccc, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    }
    .character-name {
        margin-left: 30px;
        margin-top: -8px;
        margin-bottom: 5px;
    }
    .phrase {
        padding: 20px 20px 20px;
        border-radius: 30px;
        border:solid 1px black;
    }
    .plain_phrase {
        padding: 20px 20px 20px;
        border:solid 1px black;
    }
    .phrase_object_display {
        height: 350px;
        border:solid 1px black;
        background-color:white;
        position:relative;
    }
    .push_out {
        padding-left: 650px;
        padding-bottom: 40px;
        padding-top: 80px;
    }
    .push {
        bottom: 30px;
        font-size: 12px;
        width:120px;
        height:50px;
    }
    .phrase_object_display .speak {
        font-size: 39px;
    }
    .phrase_object_display .sentence .title {
        font-size: 22px;
    }
    .phrase_object_display .sentence .name {
        font-size: 26px;
    }
}
@media screen and (max-width: 767px) {
    .header {
        height: 25px;
    }
    .header div{
        line-height: 25px;
    }
    .phrases_body {
        top: 35px;
        position:absolute;
    }
    .phrase_all {
        position: relative;
        width: 290px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .html_background {
        top: 15px;
        width: 290px;
        height:145px;
    }
    .character-image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1.5px solid #fff;
        box-shadow: 0px 0px 10px #ccc, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    }
    .character-name {
        margin-left: 20px;
        margin-top: -6px;
        margin-bottom: 4px;
        font-size: 15px;
    }
    .phrase {
        padding: 10px 10px 10px;
        border-radius: 20px;
        font-size: 15px;
        border:solid 1px black;
    }
    .plain_phrase {
        padding: 10px 10px 10px;
        font-size: 15px;
        border:solid 1px black;
    }
    .phrase_object_display {
        height: 145px;
        border:solid 1px black;
        background-color:white;
        position:relative;
    }
    .push_out {
        padding-left: 130px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .push {
        bottom: 30px;
    }
}
.phrase {
    /*薄黄色*/
    background: #ffffcc;
    opacity:0.9;
}
.plain_phrase {
    background: lightskyblue;
    opacity:0.9;
}
.foreign {
    font-size:1.3em;
    font-style:italic;
}
.kana {
    font-size:0.7em;
}
.sentence .title{

}
.html_show {
    /*薄水色*/
    background: lightsteelblue;
    width: 290px;
    height:145px;
    position:relative;
}
.header {
    top:0px;
    background-color: gainsboro;
    opacity: 0.7;
    position: fixed;
    z-index:999;
}
.next {
    position: fixed;
}
.sentence .title {
    font-size: 11px;
}
.sentence .name {
    font-size: 13px;
}
.character_box {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ffffe0;
    z-index: -2;
}
.body_box {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #ffffe0;
    z-index: -2;
}
.row {
    display: flex;
}

.column {
    display: flex;
    flex-flow: column;
}
.speech_speak{
    position:absolute;
    width:100%;
    height:100%;
    position:absolute;
    border-radius:50%;
    background-color:ghostwhite;
    border:solid thin black;
    top:20%;
    right:100%;
}
.sentence .title {
    font-size: 11px;
}
.sentence .name {
    font-size: 13px;
}
.html_background {
    position:fixed;
    z-index:-2147483647;
}
.html_background_admin {
    border:solid 1px black;
}
.speech {
    z-index:900;
}
