.phrase {
    /*薄黄色*/
    background: #ffffcc;
    opacity:0.9;
}
.plain_phrase {
    background: lightskyblue;
    opacity:0.9;
}
.foreign {
    font-size:1.3em;
    font-style:italic;
}
.kana {
    font-size:0.7em;
}

.movie {
    margin:0;
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
}
.html_show {
    /*薄水色*/
    background: lightsteelblue;
    border:solid 1px black;
    width: 290px;
    height:145px;
    position:relative;
    overflow:hidden;
}
.html_show.phrase_object_chapter_input {
    background: white;
    overflow:hidden;
     /*border-left: solid 14.5px rgba(0, 0, 0, .3);*/
     /*border-right: solid 14.5px rgba(0, 0, 0, .3);*/
}
.html_show.phrase_object_chapter_input.sp {
    width:108px;
    height:192px;
    /*display:none;*/
}
.phrase_object_chapter_input_left {
    position:absolute;
    left:0%;
    width:5%;
    height:100%;
    border-right:solid 0.5px black;
    z-index:60;
}
.phrase_object_chapter_input_right {
    position:absolute;
    right:0%;
    width:5%;
    height:100%;
    border-left:solid 0.5px black;
    z-index:60;
}
.thumbnail_html_show {
    border:solid 1px black;
    width: 290px;
    height:145px;
    position:relative;
}
.thumbnail_html_display {
    position:relative;
}
.thumbnail_html_display_title {
    position:relative;
}
.header {
    top:0px;
    background-color: gainsboro;
    opacity: 0.7;
    position: fixed;
    z-index:100;
}
.sentence .title {
    font-size: 11px;
}
.sentence .name {
    font-size: 13px;
}
.character_box {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ffffe0;
    z-index: -2;
}
.body_box {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #ffffe0;
    z-index: -2;
}
.row {
    display: flex;
}

.column {
    display: flex;
    flex-flow: column;
}
.speech_speak{
    position:absolute;
    width:100%;
    height:100%;
    position:absolute;
    border-radius:50%;
    background-color:ghostwhite;
    border:solid thin black;
    top:20%;
    right:100%;
}
.sentence .title {
    font-size: 11px;
}
.sentence .name {
    font-size: 13px;
}
.html_background , .html_background_admin, .html_background_sp_admin {
    position:fixed;
    z-index:-2147483647;
}
.html_background_admin {
    border:solid 1px black;
    top: 25px;
    width: 290px;
    height:290px;
    left: 529.5px;
}
.html_background_sp_admin {
    top: 315px;
    width: 290px;
    height:203px;
    left: 529.5px;
    border:solid 1px red;
}
.html_logo_admin {
    border:solid 1px black;
}
.html_icon_admin {
    border:solid 1px black;
}
.html_logo {
    position:relative;
    width: 579px;
    height:193px;
}
.html_icon {
    position:relative;
    width: 134px;
    height:134px;
}
.icon_circle {
  position:relative;
}
.speech {
    z-index:50;
    /*text-align: center;*/
}
[class*='speech'][class*='object_'][class$='_47'],[class*='speech'][class*='object_'][class$='_65'],[class*='speech'][class*='object_'][class$='_66'] {
    text-align: center;
}
.speech b:not(.name),.phrase div:not(.character-name) b  {
    color:red;
}
.speech_sentence.story_show,[class*='story_show_other']{
     position:absolute;
     z-index:50;
     font-family: Arial, sans-serif;
     background:rgba(248,248,255,0.8);
     padding:1%;
     display: inline-block;
     transform: translate(-50%, 0%);
     width:auto;
     border-radius:20% / 10%;
 }
.speech_sentence.story_show{
    bottom:-10%;
    color: midnightblue;
}
.speech_sentence.story_show_other1{
    bottom:-10%;
    color: green;
}
.speech_sentence.story_show_other2{
    top:10%;
    color: deeppink;
}
.phrases_novel {
    top: 20px;
    position:absolute;
    left:150px;
}
@media screen and (min-width: 768px) {
    .header {
        height: 30px;
    }
    .header div {
        line-height: 30px;
    }
    .phrases_body {
        top: 40px;
        position:absolute;
        left:424.5px;
    }
    .phrase_all {
        position: relative;
        width: 500px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .html_background {
        top: 30px;
        width: 500px;
        height: 500px;
        left: 424.5px;
    }
    .character-image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1.5px solid #fff;
        box-shadow: 0px 0px 10px #ccc, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    }
    .character-name {
        margin-left: 30px;
        margin-top: -8px;
        margin-bottom: 5px;
    }
    .phrase {
        padding: 20px 20px 20px;
        border-radius: 30px;
        border:solid 1px black;
    }
    .plain_phrase {
        padding: 20px 20px 20px;
        border:solid 1px black;
    }
    .phrase_object_display {
        height: 250px;
        border:solid 1px black;
        background-color:white;
        position:relative;
        overflow:hidden;
    }
    .phrase_object_display .speak {
        font-size: 28px;
    }
    .phrase_object_display .sentence .title {
        font-size: 16px;
    }
    .phrase_object_display .sentence .name {
        font-size: 18.5px;
    }
    .thumbnail_html_display {
        border:solid 1px black;
        width: 290px;
        height:145px;
    }
    .thumbnail_html_display_title {
        border:solid 1px black;
        width: 260px;
        height:130px;
        margin-left: 100px;
    }
}
@media screen and (max-width: 767px) {
    .header {
        height: 25px;
    }
    .header div{
        line-height: 25px;
    }
    .phrases_body {
        top: 35px;
        left: 34.5px;
        position:absolute;
    }
    .phrase_all {
        position: relative;
        width: 290px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .html_background {
        top: 25px;
        width: 290px;
        height:290px;
        left: 34.5px;
    }
    .character-image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1.5px solid #fff;
        box-shadow: 0px 0px 10px #ccc, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    }
    .character-name {
        margin-left: 20px;
        margin-top: -6px;
        margin-bottom: 4px;
        font-size: 15px;
    }
    .phrase {
        padding: 10px 10px 10px;
        border-radius: 20px;
        font-size: 15px;
        border:solid 1px black;
    }
    .plain_phrase {
        padding: 10px 10px 10px;
        font-size: 15px;
        border:solid 1px black;
    }
    .phrase_object_display {
        height: 145px;
        border:solid 1px black;
        background-color:white;
        position:relative;
        overflow:hidden;
    }
    .thumbnail_html_display {
        border:solid 1px black;
        width: 290px;
        height:145px;
    }
    .thumbnail_html_display_title {
        border:solid 1px black;
        width: 240px;
        height:120px;
        margin-left: 70px;
    }
}
