.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}
.popup.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner {
    position: absolute;
    background-color: moccasin;
    left: 0%;
    top: 0%;
    width: 70%;
    z-index: 2;
}
.popup-inner th {
    left: 0%;
    top: 0%;
    left:10%;
}
.popup-inner table {
    display: block;
    overflow-y: scroll;
    white-space: nowrap;
}
.black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
}
.close-btn {
    position:absolute;
}
.close-btn .stick {
    position:absolute;
    background-color:black;
}
.close-btn .stick_A {
    transform:rotate(45deg);
}
.close-btn .stick_B {
    transform:rotate(-45deg);
}
.next {
    position: fixed;
    background-color:blue;
    border-radius:20%;
}
.next_chapter {
    background-color:pink;
    border-radius:20%;
}
.chapter_end {
    font-size:90%;
}
.chapter_list {
    color:red;
    font-size:120%;
}
#contents {
    display:flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}
.copy {
    position:relative;
    background-color:gray;
    font-size:90%;
    width:90%;
    padding: 5%;
    border-radius:10%;
}
@media screen and (min-width: 768px) {
    .popup-inner {
        width: 500px;
    }
    .popup-inner table{
        max-height:400px;
    }
    .close-btn {
        width: 50px;
        height: 50px;
        right: 25px;
        top: 0px;
    }
    .close-btn .stick {
        width:60%;
        height:15%;
        top:30%;
        left:20%;
    }
    .next_out {
        padding-left: 190px;
        padding-bottom: 40px;
        padding-top: 80px;
    }
    .next {
        bottom: 30px;
        width:120px;
        height:50px;
        line-height:40px;
        font-size:40px;
        z-index:100;
    }
    .content_title {
        margin-top:2px;
        margin-left:40px;
    }
    .chapter_end {
        margin-left:10px;
    }
    .chapter_list {
        margin-top:6px;
        margin-bottom:10px;
        margin-left:60px;
    }
    .chapter_list_link {
        margin-left:30px;
    }
    .next_chapter {
        height:40px;
        margin-left:10px;
    }
    .thumbnail {
        margin:10px 15px;
    }
    .copy {
        margin-left: 50px;
    }
}
@media screen and (max-width: 767px) {
    .popup-inner {
        width: 100%;
    }
    .popup-inner table{
        max-height:100%;
    }
    .close-btn {
        width: 40px;
        height: 40px;
        right: 2px;
        top: 2px;
    }
    .close-btn .stick {
        width:60%;
        height:20%;
        top:40%;
        left:20%;
    }
    .next_out {
        padding-left: 130px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .next {
        bottom: 30px;
        width:80px;
        height:40px;
        line-height:30px;
        font-size:30px;
    }
    .content_title {
         margin-top:1px;
         margin-left:40px;
     }
    .chapter_end {
         margin-left:5px;
     }
    .chapter_list {
        margin-top:3px;
        margin-bottom:5px;
        margin-left:30px;
    }
    .chapter_list_link {
        margin-left:15px;
    }
    .next_chapter {
        height:30px;
        margin-left:5px;
    }
    .thumbnail {
        margin:5px 15px;
    }
    .copy {
        margin-left: 25px;
    }
}

