.zelda
  .head
    .hair
      .shading
      .secondaryshading
    .hair2
    .shadeface
    .shade2chin
    .shade3hair
  .longhair
    .hairstrand1
    .hairstrand2
    .hairstand3
  .neck
  .crown
    .diamond
  .circle1
  .circle2
  .circle3
  .circle4
  .circle5
  .circle6
  .hairzig
  .eyebrow
  .eyebrow2
  .eyebrowsecond2
  .eyebrow3higher
  .eyebrow4higher
  .eyebrow2.left
  .eye
    .inner
  .eye.two
    .inner.second
  .nose
  .smile
  .hairbehind
  .ear1
  .ear2
  .necklace1
  .necklace2
  .necklace3
  .body
  .arm1
  .glove
  .hand
  .arm2
  .glove2
  .hand2
  .belt
  .dress
  .seconddress
  .footone
  .foottwo
  .swordtop
  .hilttop
  .hiltbottom
  .sword
    .shadesword
  .swordtriangle
    .shadetriangle